.navbar-bg {
    background-color: red !important;
    background-repeat: repeat-y;
}

.nav-link-user {
    color: #0D65AF !important;
    background-color: white !important;
    border-radius: 5px;
}

.section_header_admin {
    color: white;
}